@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cầm đồ Thiên Trang</h2>

<div id="plan-info">
    @Html.Action("AN", "Home")

    @Html.Action("AX", "Home")

    @Html.Action("XE1", "Home")

    @Html.Action("XE2", "Home")
</div>